name: Deploy master branch

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'readme.md'

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['22']
        region: [eu-west-1, us-east-1, us-west-2]
    env:
      LOG_LEVEL: info # debug | info | notice | warning | error
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Serverless deploy to ${{ matrix.region }}
        uses: serverless/github-action@v3.2
        with:
          args: deploy --region ${{ matrix.region }}
        env:
          IS_PROD: 'TRUE'
          AWS_DEFAULT_REGION: ${{ matrix.region }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          IOT_ENDPOINT: ${{ secrets.IOT_ENDPOINT }}
          SKILL_ID: ${{ secrets.SKILL_ID }}
          ALEXA_CLIENT_ID: ${{ secrets.ALEXA_CLIENT_ID }}
          ALEXA_CLIENT_SECRET: ${{ secrets.ALEXA_CLIENT_SECRET }}
          HASH_SECRET: ${{ secrets.HASH_SECRET }}
          VSH_ADMIN_API_KEY: ${{ secrets.VSH_ADMIN_API_KEY }}
          STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY }}
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          PADDLE_API_KEY: ${{ secrets.PADDLE_API_KEY }}
          PADDLE_WEBHOOK_SECRET: ${{ secrets.PADDLE_WEBHOOK_SECRET }}
          MOMENTO_TOKEN: ${{ secrets.MOMENTO_TOKEN }}
      - name: Serverless doctor advice
        uses: serverless/github-action@v3.2
        with:
          args: doctor
